* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    opacity: .7s;
}

.logo{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: .3em;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    background: #21212e;
}

.nav-list{
    width: 50%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1.7em;
    justify-content: space-around;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 6px;
}

.menu-content a{
    padding: .65em;
}

@media screen and (max-width: 999px){

    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 8vh; /* Para ficar abaixo do header */
        right: 0;
        width: 30vw;
        height: 40vh;
        background: #21212e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transforM .4s ease-in;
    }

    .nav-list{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }
}