/* Formatação */

*{
    padding: 0;
    margin: 0;
}

body, html{ 
    overflow-x: hidden;
    scroll-behavior: smooth;
} 

body{
    font-family: Assistant;
    color: #010101;
    background-color: #eadfff;
}
h2, h3{
    font-family: Cabin;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

/*Menu - projetos, habilidades, contatos e github*/

#menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 20px 0;
}

#menu ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

/* Efeito hover no menu */

#menu a{
    color: black;
    text-decoration: none;
    transform: 2ms ease-in;
    position: relative;
}

nav li a::before{
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    position: absolute;
    text-decoration: underline;
    background-color: #000000;
    cursor: pointer;
    transition: all 1s ease;
}

nav li a:hover{
    color: #000000;
    transition-duration: 1s;
}

nav li a:hover:before{
    width: 100%;
}

/* Sobre min - Anderson Jader */


header {
    width: 100%;
    margin: 0;
    height: 62vh;
}

header h1, h2{
    font-family: Inter;
}

#topo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(rgba(17,17,17, 0.5), rgba(20, 20, 20, 1)) , url(/img/backgroundtopo-pq.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

#topo h1{
    margin-top: 2em;
    color:#eadfff;
}

#topo h2{
    font-weight: 600;
    color:#eadfff;
    
}

#topo span{
    font-size: .5em;
    font-weight: 500;
    color:#eadfff;
}

#topo p{
    text-align: justify;
    padding: 10px 10px;
    color:#eadfff;
}

.button{
   color: #010101;
   text-decoration: none;
   background-color: #eadfff;
   padding: 20px;
   margin-top: 1em;
   border-radius: 5px;
   display: inline-block;
   transition: all .5s;
}

.button:hover{
    scale: 1.1;
}

/* Habilidades, html, css e java */

#habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.2em;
}

#habilidades h3{
    text-decoration: underline;
    margin-bottom: .2em;
}

#habilidades p{
    margin-bottom: 2em;
}

/* Projetos - cybersecurity, sapatos e inovando*/

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3em;
}

#projetos h2{
    padding-bottom: .5em;
    padding-top: 2em;
}

.subtitulo-projetos{
    margin-bottom: 1em;
}

#projetos-nomes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#card-projetos a img{
    display: block;
    padding: 5px;
    border: 1px solid black;
    width: 97%;
    transition: all .5s;
}

#card-projetos a img:hover{
    background-color: black;
}

#projetos-nomes{
    width: 100%;
}

#projetos p{
    width: 33.3333%;
    text-align: center;
    font-size: 1.2em;
}

#logogithub{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#logogihub i{
    width: 33.3333%;
    text-align: center;
    
}

#logogithub .fa-brands{
    font-size: 4em;
    transition: all .5s;
}

#logogithub .fa-brands:hover{
    scale: 1.1;
}


/* Contatos - telefone e linkedin */

#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contatos p{
    margin-bottom:42px;
}

#contatos h2{
    margin-top: 100px;
}

#contatos > div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 25px;
}

.fa-solid, .fa-brands{
    font-size: 60px;
    color: black;
    transition: all .5s;
}

.fa-solid:hover, .fa-brands:hover{
    scale: 1.1;
}

#seta-topo{
    position: fixed;
    color: white;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    background: black;
    padding: 12px 15px;
}

/* Rodape - Desenvolvedor e atribuições */

footer{
    background-color: #585858;
    color: white;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

/* Responsividade */

@media screen and (min-width: 768px) {
    #topo {
        background:transparent;
    }

    #topo{
        background: linear-gradient(rgba(17,17,17, 0.5), rgba(20, 20, 20, 1)) , url(/img/backgroundtopo.jpg);
        background-size: cover;
        background-position: center;
    }

    #menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        background-color: #eadfff;
        border: 1px solid black;
    }

    #topo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 71.5vh;
        padding-top: 15%;
    }

    #topo h1, #topo p{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        text-align: center;
    }

    .logo{
        width:24%;
    }

    .logo3{
        width: 22%;
    }

    #topo h1{
        font-size: 3em;
    }

    #topo p{
        margin-top: 4em;
        font-size: 1.2em;
    }

    .button{
        margin-top: 5em;
        padding: 30px;
    }

    #habilidades{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #h2habilidades{
        background-color: #979797;
        display: block;
        width: 100%;
    }

    #habilidades h2{
        padding-top: 5em;
        margin-bottom: 90px;
        background-color: #979797;
    }

    #geral-habilidades{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #979797;
    }

    #habilidades div div{
        width: 33.3333333%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .aprimorar{
        margin-top: 100px;
    }

    #projetos {
        margin-top: 200px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
        margin-bottom: 215px;
    }

    #projetos div{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    #projetos img{
        width: 32.55%
    }


    #contatos {
        margin-bottom: 150px;
    }

}

@media screen and (max-width: 284px){

    #topo{
        background: transparent;
    }

    #topo{
        background: linear-gradient(rgba(17,17,17, 0.5), rgba(20, 20, 20, 1)) , url(/img/backgroundtopo.jpg);
        background-size: cover;
        background-position: center;
    }

    #topo h1{
        margin-top: .7em;
    }
    .button{
        border: 1px solid black;
    }
}